@import '../sass/libs/reset.scss';
@import '../sass/libs/nav.scss';

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$minWidth: 600px;
$colorOne: #ee287c;
$colorTwo: #fc86b7;
$colorOr: #c79750;

$base-size: 16;
//Function to convert px value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return calc($target / $context) * 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: size(18);
  font-weight: 300;
}
title {
  color: $colorOne;
}

.header {
  position: relative;
  background: url(../img/header.jpeg) no-repeat top center;
  background-size: cover;
  height: size(270);
  &::before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.4);
  }
}
.logo {
  position: absolute;
  top: size(12);
  right: size(15);
  font-size: size(15);
  color: $colorTwo;
  h1 {
    font-weight: 300;
    span {
      font-family: "Allura";
      font-size: size(33);
    }
  }
}
.headerText {
  position: relative;
  padding-left: size(15);
  padding-right: size(15);
  h2 {
    margin-top: size(36);
    margin-bottom: size(21);
    color: $colorTwo;
    inline-size: size(240);
    line-height: size(30);
    span {
      font-family: "Allura";
      font-size: size(39);
    }
  }
  a{
    border: size(2) solid $colorTwo;
    border-radius: size(60);
    padding: size(12);
    text-decoration: none;
    font-size: size(15);
    font-weight: 900;
    color: $colorTwo;
    &:hover {
      background-color: $colorTwo;
      color: #fff;
    }
  }
}

#modal {
  position: fixed;
  z-index: 333;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  display: none;
  .modalMask {
    box-shadow: inset 0 0 size(2000) rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .modalContent {
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    box-shadow: inset 0 0 size(2000) rgba(255, 255, 255, .5);
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: auto;
    min-height: 50px;
  }
}
#modal.open {
  display: block;
}
@media screen and (min-width:$minWidth){
  .header {
    height: size(540);
  }
}